<div id="capacity" class="textChart capacity">
  <div class="head">
    <h4 class="title">Capacity Days</h4>
  </div>
  <div class="body">
    <p class="number">
      <span>{{totalPersonWorkDays}}</span>/<span>{{personWorkDays}}</span>/<span>{{timeboxes}}</span>
    </p>
  </div>
  <div class="foot">
    <h5>Total / Workdays / Timeboxes</h5>
  </div>
</div>
