<div class="row">
  <div class="twelve columns">
    <h1 class="headline">{{dashboardName}}</h1>
    <h2 class="headline project">{{projectName}}</h2>
    <h5 class="headline team">{{teamName}}</h5>
  </div>
</div>
