<div class="row">
  <div class="twelve columns ">
    <h3 class="chart title">Sprint Reviews</h3>
    <div id="slideDecks" class="slidedecks">
      {{#each intervals}}
        {{> deckLinkPartial}}
      {{/each}}
    </div>
  </div>
</div>
