<div id="{{label}}Description" class="overlay">
  <div class="popup">
    <h2>{{{title}}}</h2>
    <a class="close" href="#{{label}}Closed">&times;</a>
    <div class="content">{{{content}}}</div>
  </div>
</div>
