<div class="textChart">
  <div class="head">
    <h4 class="title">Velocity</h4>
    <h5></h5>
  </div>
  <div class="body">
    <p class="number">{{totalAverageVelocity}}/{{predictedVelocity}}</p>
  </div>
  <div class="foot"><h5>Current / Predicted</h5></div>
</div>
