<div class="textChart workdays">
  <div class="head">
    <h4 class="title">Person Work Days</h4>
    <h5></h5>
  </div><div class="body">
    <p class="number">{{capacity.totalPersonWorkDays}}</p>
  </div>
</div>
